2048/
vote/
CF/
AtCoder/
ddl/
Polyline/
SlidingPuzzle/
BinarySearchGame/
NowCoder/
NimGame/
__pycache__/
weather/
sniffer/
sentence/
*.pyc
tmp*
temp*
hakushinAVG.txt
authdata
groupLimit.json
cfg.json
cfg.bak