# quic depends
# aioquic


# adapters
prompt_toolkit

# worker
pillow
pydantic
requests[socks]
bs4
numpy
qrcode
selenium
json5
mido
pexpect
devtools
xlrd==1.2.0

# debug
loguru

# Math
numpy
colorclass
terminaltables
scikit-fuzzy
matplotlib

# legacy
# graia-application-mirai==0.15.5
# graia-broadcast==0.6.4

# irori distribution system
# Server `apt-get install rabbitmq-server`
# for windows `choco install rabbitmq`
# using command `celery -A test3_celery -P eventlet`
# or
# import os
# os.environ.setdefault('FORKED_BY_MULTIPROCESSING', '1')
# 猜解文件类型，win下需要pip install python-magic-bin, debian下sudo apt-get install libmagic1
python-magic

mongoengine
markdown
celery
fastapi
flower # celery -A modulo flower
python-jose[cryptography]
passlib[bcrypt]