pydantic
numpy==1.19.3
bs4
requests[socks]
qrcode
pillow
selenium
json5
terminaltables==3.1.0
colorclass==2.2.0
mido
pexpect
graia-application-mirai
graia-broadcast
devtools
xlrd==1.2.0
mongoengine
pyzipper
websockets
# python-magic-bin==0.4.14